header {
 background:url("https://res.cloudinary.com/fluidartprojects/image/upload/f_auto,q_auto/w_1020,h_685,c_fill,g_auto/v1553984681/cells-acrylic-pouring-painting_afukoq.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 280px;
    width: 100%;
}

@font-face {
  font-family: Pacifico;
  src: url("Pacifico-Regular.ttf")
}

h2 {
    font-family: Pacifico, cursive;
    text-align: center;
    color: white;
    letter-spacing: 5px;
    font-size: 70px;
    font-weight: 100;
    padding-top: 60px;
    text-shadow: 2px 2px 8px #0081AC;
    text-decoration-line: underline;
    margin-bottom: 0;
}

nav {
    display: flex;
    justify-content: center;
}

.navlink {
   color: white;
   transition: 0.5s ease;
  font-size: 26px;
  text-decoration: none;
  margin: 0 45px;
    border-top: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid rgba(0, 0, 0, 0);
    font-family: Pacifico, cursive;
    font-weight: 100;
    padding: 20px 0;
}

.navlink:hover {
    color: #FFA384;
    border-top: 4px solid #FFA384;
  border-bottom: 4px solid #FFA384;
    padding-top: 8px;
    padding-bottom: 10px;
    text-shadow: 2px 2px 8px #0081AC;
}


h3 {
    line-height: 50px;
    font-size: 40px;
    font-family: OpenSansSB, cursive;
    letter-spacing: 2px;
    color: #1592B4;
    font-weight: 100;
    text-align: center;
    margin: 100px auto;
}

h4 {
    margin-left: 10%;
    font-family: OpenSans, cursive;
    letter-spacing: 2px;
    color: #1592B4;
    font-weight: 100;
    font-size: 25px;
    margin-top: 100px;
}

@font-face {
  font-family: OpenSansSB;
  src: url("OpenSans-SemiBold.ttf")
}

@font-face {
  font-family: OpenSans;
  src: url("OpenSans-Regular.ttf")
}

@font-face {
  font-family: OpenSansL;
  src: url("OpenSans-Light.ttf")
}

h6 {
    margin: 10% 25px 0 25px;
    font-family: OpenSans, monospace;
    color: white;
    font-size: 20px;
    text-align: center;
    transition: 1s ease-in-out;
    text-shadow: 2px 2px 8px #014d4e;
}

p {
    margin: 5px;
    font-family: OpenSansL, monospace;
    color: transparent;
    text-align: center;
    transition: 0.5s ease-in-out;
    font-size: 0px;
    padding: auto 40px;
    z-index: 2;
    text-shadow: 2px 2px 8px #0081AC;
}


/* parent container */
.parentpublications {
    margin: auto 10%;
    padding: auto 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: stretch;
    align-content: center;
}



/* published box */
.childpublications {
    width: 40%;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, .6);
    display: border-box;
    margin: 17px;
    transition: 0.5s ease-in-out;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    display: block;
    background-image:url("https://res.cloudinary.com/fluidartprojects/image/upload/f_auto,q_auto/w_1020,h_685,c_fill,g_auto/v1553984681/cells-acrylic-pouring-painting_afukoq.jpg");
    background-size: cover;
    opacity: 0.7;
}

.childpublications:hover {
    padding: 12px;
    margin: 4px;
    border-radius: 3px;
    opacity: 0.9;
}


/* published titles */ 
.essays:hover h6 {
    color: white;
    font-size: 20px;
    padding: 12px;
    margin-top: 5px;
    padding: 5px;
    text-decoration-line: underline;
    text-shadow: 2px 2px 8px #008080;
}

.poetry:hover h6 {
    color: white;
    font-size: 20px;
    text-decoration-line: underline;
    text-shadow: 2px 2px 8px #008080;
}




 .childpublications:hover p {
    color: white;
     font-size: 14px;
}




a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
    
a:visited {
  color: white;
    text-decoration: none;
}


.bottom {
    margin-bottom: 180px;
}

.footer {
  display: flex;
    margin: 100px 40% 150px 40%;
}

.column {
  flex: 50%;
    padding: 0 15px;
}

.email {
    height: 48px;
    width: 48px;
    float: right;
    padding-right: 20px;
    
}

.linkedin {
    height: 48px;
    padding-left: 20px;
    float: left;
}


